@import '../../assets/style-vars.scss';

  .homepage{
    //border-top: 2px solid #F00;
    padding: 1rem;
    margin: 0 auto;
    max-width: 600px;

    h3{
        padding: 0;
        margin: 0 0 0 60px;
    }
}